# Домашнее задание к лекции "Базовые понятия статистики"

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

### Задание 1. Загрузка данных

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names), загрузить его и оставить 8 столбцов для дальнейшего изучения: `surgery?`, `Age`, `rectal temperature`, `pulse`, `respiratory rate`, `temperature of extremities`, `pain`, `outcome`.

#### Решение
Результатом будет 
##### df_filtered_columns

In [449]:
import pandas as pd
import numpy as np # для использоваиня np.nan - базово заменить знаки "?"
from pathlib import Path

# cur_path = Path.cwd()
# path_data = Path(cur_path, "horse_data.csv")

path_data = "https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv"

df_raw_as_is = pd.read_csv(path_data, 
                           sep = ',',
                           header = None,
                           na_values = '?'
                    )

# о том, что можно сразу отфильтровать столбцы и дать им имена прочитал после того, как все сделал.
# Переделывать не стал, так как на задание потратил уж слишком много времени
# конкретно эти параметры: header, names, usecols, na_values

In [450]:
display(df_raw_as_is.head())
display(df_raw_as_is.describe())
display(df_raw_as_is.info())

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
count,299.000000,300.000000,3.000000e+02,240.000000,276.000000,242.000000,244.000000,231.000000,253.000000,268.000000,...,271.000000,267.000000,135.000000,102.000000,299.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.397993,1.640000,1.085889e+06,38.167917,71.913043,30.417355,2.348361,2.017316,2.853755,1.305970,...,46.295203,24.456929,2.037037,3.019608,1.551839,1.363333,3657.880000,90.226667,7.363333,1.670000
std,0.490305,2.173972,1.529801e+06,0.732289,28.630557,17.642231,1.045054,1.042428,1.620294,0.477629,...,10.419335,27.475009,0.804905,1.968567,0.737187,0.481763,5399.513513,649.569234,127.536674,0.470998
min,1.000000,1.000000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000,1.000000,...,23.000000,3.300000,1.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,1.000000,5.289040e+05,37.800000,48.000000,18.500000,1.000000,1.000000,1.000000,1.000000,...,38.000000,6.500000,1.000000,2.000000,1.000000,1.000000,2111.750000,0.000000,0.000000,1.000000
50%,1.000000,1.000000,5.303055e+05,38.200000,64.000000,24.500000,3.000000,2.000000,3.000000,1.000000,...,45.000000,7.500000,2.000000,2.250000,1.000000,1.000000,2673.500000,0.000000,0.000000,2.000000
75%,2.000000,1.000000,5.347275e+05,38.500000,88.000000,36.000000,3.000000,3.000000,4.000000,2.000000,...,52.000000,57.000000,3.000000,3.900000,2.000000,2.000000,3209.000000,0.000000,0.000000,2.000000
max,2.000000,9.000000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,4.000000,6.000000,3.000000,...,75.000000,89.000000,3.000000,10.100000,3.000000,2.000000,41110.000000,7111.000000,2209.000000,2.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       299 non-null    float64
 1   1       300 non-null    int64
 2   2       300 non-null    int64
 3   3       240 non-null    float64
 4   4       276 non-null    float64
 5   5       242 non-null    float64
 6   6       244 non-null    float64
 7   7       231 non-null    float64
 8   8       253 non-null    float64
 9   9       268 non-null    float64
 10  10      245 non-null    float64
 11  11      256 non-null    float64
 12  12      244 non-null    float64
 13  13      196 non-null    float64
 14  14      194 non-null    float64
 15  15      53 non-null     float64
 16  16      198 non-null    float64
 17  17      182 non-null    float64
 18  18      271 non-null    float64
 19  19      267 non-null    float64
 20  20      135 non-null    float64
 21  21      102 non-null    float64
 22  22      299 non-null    float64
 23  23      300 non-null    int64
 24  24      300 non-null    int64
 25  25      300 non-null    int64
 26  26      300 non-null    int64
 27  27      300 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.8 KB

None

* Нумерация столбцов в DF начинается с нуля, будем иметь ввиду

#### Описание нужных столбцов

surgery?
  1:  surgery?
          1 = Yes, it had surgery
          2 = It was treated without surgery

Age
  2:  Age
          1 = Adult horse
          2 = Young (< 6 months)

rectal temperature
  4:  rectal temperature
          - linear
          - in degrees celsius.
          - An elevated temp may occur due to infection.
          - temperature may be reduced when the animal is in late shock
          - normal temp is 37.8
          - this parameter will usually change as the problem progresses
               eg. may start out normal, then become elevated because of
                   the lesion, passing back through the normal range as the
                   horse goes into shock
pulse
  5:  pulse
          - linear
          - the heart rate in beats per minute
          - is a reflection of the heart condition: 30 -40 is normal for adults
          - rare to have a lower than normal rate although athletic horses
            may have a rate of 20-25
          - animals with painful lesions or suffering from circulatory shock
            may have an elevated heart rate

respiratory rate
  6:  respiratory rate
          - linear
          - normal rate is 8 to 10
          - usefulness is doubtful due to the great fluctuations
          
temperature of extremities
  7:  temperature of extremities
          - a subjective indication of peripheral circulation
          - possible values:
               1 = Normal
               2 = Warm
               3 = Cool
               4 = Cold
          - cool to cold extremities indicate possible shock
          - hot extremities should correlate with an elevated rectal temp.

pain
 11: pain - a subjective judgement of the horse's pain level
          - possible values:
               1 = alert, no pain
               2 = depressed
               3 = intermittent mild pain
               4 = intermittent severe pain
               5 = continuous severe pain
          - should NOT be treated as a ordered or discrete variable!
          - In general, the more painful, the more likely it is to require
            surgery
          - prior treatment of pain may mask the pain level to some extent
          
outcome
 23: outcome
          - what eventually happened to the horse?
          - possible values:
               1 = lived
               2 = died
               3 = was euthanized

Подготовка списка нужных стобцов.
Можно было вручную написать сразу в перечень COLUMNS.
Но:
1) индексы столбцов на 1 меньше Нумерации в описании
2) если потребуется увеличить/уменьшить количество столбцов (не 8 из 28) то проще менять один словарь

In [451]:
# переписываем требуемые для анализа столбцы (из описания номер и название "как есть")
column_names_dict = {1 : 'surgery?', 
                     2 : 'Age', 
                     4 : 'rectal_temperature',
                     5 : 'pulse', 
                     6 : 'respiratory_rate', 
                     7 : 'temperature_of_extremities', 
                     11 : 'pain', 
                     23 : 'outcome'
                    }

# индексируем так как надо для названий в pd.df (начать от нуля)
column_names_dict_idx = {}
for key, val in column_names_dict.items():
    column_names_dict_idx.update({int(key - 1) : val})

column_filter = list(column_names_dict_idx.keys())

загружаем DF, оставляем 8 столбцов для дальнейшего изучения
##### df_filtered_columns

In [452]:
df_filtered_columns = df_raw_as_is.iloc[ : , column_filter].rename(columns = column_names_dict_idx)

In [453]:
display(df_filtered_columns.head())
display(df_filtered_columns.describe())
display(df_filtered_columns.info())

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

None

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

#### Анализ данных

1) из описания данных следует, что все выбранные столбцы должны содержать числовые значения (скорее всего, целые, кроме одного столбца)
2) 7 из 8 столбцов имеют пропуски (до 20% от 300)
3) на текущем шаге не производим заполнение пропусков осмысленными значениями (условие задания это не предусматривает)
4) Age заполнен не валидным значением 9 - проанализируем на валидность попозже остальные столбцы, после расчета метрик
5) Столбец "respiratory rate" описан, как "usefulness is doubtful due to the great fluctuations" - потенциально можно будет отключить в первую очередь. Также проверим, действительно ли в нем "сильные флуктуации"

* Результатом будет датафрейм со статистиками по каждому столбцу: **df_stat**
* Расчет исполняется функцией: **base_statistic_count**

#### Дополнительная подготовка данных
* Задаем типы данных в столбцах (базируемся на описании датасета)
(действие оказалось не обязательным)

In [454]:
# действие не обязательное, судя по выводам df_filtered_columns.info() типы данных определились приемлемо
convert_dict = {'surgery?' : 'Int64', # (1 / 2)
                 'Age' : 'Int64', # (1 / 2), 
                 'rectal_temperature' : float, # linear in degrees celsius (предположим, дробное),
                 'pulse' : 'Int64', # in beats per minute (предположим, целое), 
                 'respiratory_rate' : 'Int64', # normal rate is 8 to 10 (предположим, целое), 
                 'temperature_of_extremities' : 'Int64', # 'temperature_of_extremities', 
                 'pain' : 'Int64', # (1 / 2 / 3 / 4), 
                 'outcome' : 'Int64' # '(1 / 2 / 3)
                }

# делаем копию
# не портим базовый df_raw_as_is или df_filtered_columns
df_prepared_nan = df_filtered_columns.copy() 
df_prepared_nan = df_prepared_nan.astype(convert_dict)

In [455]:
display(df_prepared_nan.info())
display(df_prepared_nan.head(30))
display(df_prepared_nan.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    Int64
 1   Age                         300 non-null    Int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    Int64
 4   respiratory_rate            242 non-null    Int64
 5   temperature_of_extremities  244 non-null    Int64
 6   pain                        245 non-null    Int64
 7   outcome                     299 non-null    Int64
dtypes: Int64(7), float64(1)
memory usage: 20.9 KB

None

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2,1,38.5,66,28,3,5,2
1,1,1,39.2,88,20,<NA>,3,3
2,2,1,38.3,40,24,1,3,1
3,1,9,39.1,164,84,4,2,2
4,2,1,37.3,104,35,<NA>,<NA>,2
5,2,1,NaN,<NA>,<NA>,2,2,1
6,1,1,37.9,48,16,1,3,1
7,1,1,NaN,60,<NA>,3,<NA>,2
8,2,1,NaN,80,36,3,4,3
9,2,9,38.3,90,<NA>,1,5,1
10,1,1,38.1,66,12,3,3,1
11,2,1,39.1,72,52,2,2,1
12,1,1,37.2,42,12,2,3,1
13,2,9,38.0,92,28,1,1,2
14,1,1,38.2,76,28,3,3,1
15,1,1,37.6,96,48,3,5,2
16,1,9,NaN,128,36,3,4,2
17,2,1,37.5,48,24,<NA>,<NA>,1
18,1,1,37.6,64,21,1,2,1
19,2,1,39.4,110,35,4,<NA>,1
20,1,1,39.9,72,60,1,5,1
21,2,1,38.4,48,16,1,1,1
22,1,1,38.6,42,34,2,2,1
23,1,9,38.3,130,60,<NA>,2,1
24,1,1,38.1,60,12,3,<NA>,1
25,2,1,37.8,60,42,<NA>,<NA>,1
26,1,1,38.3,72,30,4,3,1
27,1,1,37.8,48,12,3,<NA>,1
28,1,1,NaN,<NA>,<NA>,<NA>,<NA>,2
29,2,1,37.7,48,<NA>,2,1,1

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.0,300.0,240.000000,276.0,242.0,244.0,245.0,299.0
mean,1.397993,1.64,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.0,1.0,35.400000,30.0,8.0,1.0,1.0,1.0
25%,1.0,1.0,37.800000,48.0,18.5,1.0,2.0,1.0
50%,1.0,1.0,38.200000,64.0,24.5,3.0,3.0,1.0
75%,2.0,1.0,38.500000,88.0,36.0,3.0,4.0,2.0
max,2.0,9.0,40.800000,184.0,96.0,4.0,5.0,3.0

#### Расчет базовых статистик
Можно использовать метод pd.describe(), но в нем нет ряда интересующих статистик.

Напишем функцию с дополнительными стат расчетами, которая запустим по всем столбцам.

In [456]:
def base_statistic_count(df_in):
    '''
    * Расчет базовых статистик (метрик) для переданного dataframe:
    * Результат в виде DataFrame по типу pd.desctibe()
    
    * Параметры
        df_in - pd.dataframe для которого необходимо посчитать статистики
        
    * Перечень статистик    
        Минимум
        Максимум
        Размах
        Среднеарифметическое
        Мода
        Медиана
        
        Дисперсия
        СКО
        
        Квартили Q1, Q3
        Межквартильный размах
        Выбросы
    '''
    
    stat_index_list = ['min', 
                       'max', 
                       'range', 
                       'mean',
                       'mode',
                       'median',
                       'disp',
                       'std',
                       'Q1',
                       'Q3',
                       'iqr Q3-Q1',
                       'lower_bound',
                       'upper_bound',
                       'outliers'
                      ] # изменение количества элементов изменит итоговой df_res_statisics
    columns_list = list(df_in.columns.values)
    
# Подготовка шаблона пустого DF для статистик
# Все значения при инициализации np.nan    
       
    nan_dict = {}
    for el in columns_list:
        nan_dict.update({el : np.nan})
    
    # тип данных "object", так как в ячейках будут кроме цифр, еще и списки (для выборосов)
    df_res_statisics = pd.DataFrame(nan_dict , index = stat_index_list).astype(object)

# конец инициализации

# Расчет метрик и заполнение df_res_statisics
# Пошагово берем каждый столбец и считаем для него все метрики из перечня

    for col in columns_list:    
        # сначала считаем метрики в отдельные переменные 
        # (сразу в DF не удобно - есть промежуточное использование + отладка более локальная)
        min_ = df_in[col].min()
        max_ = df_in[col].max()
        range_ = max_ - min_
        mean_ = df_in[col].mean()
        
        mode = df_in[col].mode()[0]
        median = df_in[col].median()
        
        disp = df_in[col].var()
        std_ = df_in[col].std()
        
        Q1 =  df_in[col].quantile(0.25)
        Q3 = df_in[col].quantile(0.75)
        iqr = Q3 - Q1
        
        lower_bound = Q1 - (1.5 * iqr)
        upper_bound = Q3 + (1.5 * iqr)
        outliers = df_in[col][~df_in[col].between(lower_bound, upper_bound)].to_list()

# заполнение DF результатов
        
        df_res_statisics.loc['min', col] = min_
        df_res_statisics.loc['max', col] = max_
        df_res_statisics.loc['range', col] = range_
        df_res_statisics.loc['mean', col] = mean_
        
        df_res_statisics.loc['mode', col] = mode
        df_res_statisics.loc['median', col] = median
        
        df_res_statisics.loc['disp', col] = disp
        df_res_statisics.loc['std', col] = std_

        
        df_res_statisics.loc['Q1', col] = Q1
        df_res_statisics.loc['Q3', col] = Q3
        df_res_statisics.loc['iqr Q3-Q1', col] = iqr
        
        df_res_statisics.loc['lower_bound', col] = lower_bound
        df_res_statisics.loc['upper_bound', col] = upper_bound
        df_res_statisics.loc['outliers', col] = sorted(outliers)

    return df_res_statisics

In [457]:
df_stat_base = base_statistic_count(df_prepared_nan)
display(df_stat)

# и отдельно полный список выбросов
for col in df_stat.columns:
    print(col, '\n', df_stat_base.loc['outliers', col])

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
min,1,1,35.4,30,8,1,1,1
max,2,9,40.8,184,96,4,5,3
range,1,8,5.4,154,88,3,4,2
mean,1.397993,1.64,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
mode,1,1,38.0,48,20,3,3,1
median,1.0,1.0,38.2,64.0,24.5,3.0,3.0,1.0
disp,0.240399,4.726154,0.536247,819.708775,311.248328,1.092137,1.710706,0.543445
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
Q1,1,1.0,37.8,48,18.5,1,2,1
Q3,2,1.0,38.5,88,36,3,4,2
iqr Q3-Q1,1,0.0,0.7,40,17.5,2,2,1
lower_bound,-0.5,1.0,36.75,-12.0,-7.75,-2.0,-1.0,-0.5
upper_bound,3.5,1.0,39.55,148.0,62.25,6.0,7.0,3.5
outliers,[],"[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, ...","[nan, nan, nan, nan, 39.9, nan, nan, nan, nan,...","[150, 150, 160, 164, 184]","[66, 68, 68, 68, 70, 70, 72, 80, 80, 80, 84, 8...",[],[],[]

surgery?
 []
Age
 [9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9]
rectal_temperature
 [nan, nan, nan, nan, 39.9, nan, nan, nan, nan, nan, 35.4, nan, nan, 40.3, nan, nan, nan, nan, nan, nan, nan, 39.7, nan, 36.4, nan, nan, 40.3, nan, nan, 39.6, nan, nan, nan, nan, nan, 36.5, nan, nan, 36.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 36.1, nan, nan, 36.6, nan, nan, 40.8, nan, nan, nan, 40.0, nan, nan, nan, nan, 36.5]
pulse
 [150, 150, 160, 164, 184]
respiratory_rate
 [66, 68, 68, 68, 70, 70, 72, 80, 80, 80, 84, 84, 88, 90, 90, 96, 96]
temperature_of_extremities
 []
pain
 []
outcome
 []

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

#### Расчет количества пропусков для всех выбранных столбцов

Анализ по подготовленному ранее датафрейму: **df_filtered_columns**

In [458]:
print('Количество пропусков:')
df_filtered_columns.isna().sum()

Количество пропусков:

surgery?                       1
Age                            0
rectal_temperature            60
pulse                         24
respiratory_rate              58
temperature_of_extremities    56
pain                          55
outcome                        1
dtype: int64

In [459]:
(df_filtered_columns.isna().mean() * 100).round(2)

surgery?                       0.33
Age                            0.00
rectal_temperature            20.00
pulse                          8.00
respiratory_rate              19.33
temperature_of_extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

#### Заполнение пропусков

In [460]:
df_filtered_columns_filled = df_filtered_columns.copy()

In [461]:
# Статистики базового DF для дальнейшего сравнения
# df_stat_base

* **AGE** 
<br> не может быть "9" - предположим, что это ошибка - заменим на 2.

In [462]:
df_filtered_columns_filled['Age'].replace(9, 2, inplace = True)

* **Outcome и Surgery?**
<br>Один пропуск и оба в одной строке

In [463]:
df_filtered_columns[(df_filtered_columns_filled['outcome'].isnull())]

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

pain высокий уровень. Проверим, эту подгруппу

In [464]:
base_statistic_count(df_filtered_columns_filled[(df_filtered_columns_filled['pain'] == 4)])

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
min,1.0,1,35.4,36.0,12.0,1.0,4.0,1.0
max,2.0,2,39.3,184.0,84.0,4.0,4.0,3.0
range,1.0,1,3.9,148.0,72.0,3.0,0.0,2.0
mean,1.263158,1.076923,37.931034,82.657143,31.967742,2.617647,4.0,2.026316
mode,1.0,1,38.5,52.0,24.0,3.0,4.0,2.0
median,1.0,1.0,38.0,80.0,30.0,3.0,4.0,2.0
disp,0.199147,0.072874,0.676502,922.52605,206.232258,0.909982,0.0,0.566856
std,0.446258,0.269953,0.822498,30.373114,14.360789,0.95393,0.0,0.752899
Q1,1.0,1.0,37.5,62.0,24.0,2.0,4.0,1.25
Q3,1.75,1.0,38.5,100.0,36.0,3.0,4.0,3.0
iqr Q3-Q1,0.75,0.0,1.0,38.0,12.0,1.0,0.0,1.75
lower_bound,-0.125,1.0,36.0,5.0,6.0,0.5,4.0,-1.375
upper_bound,2.875,1.0,40.0,157.0,54.0,4.5,4.0,5.625
outliers,[nan],"[2, 2, 2]","[nan, nan, nan, nan, 35.4, nan, nan, nan, nan,...","[nan, nan, nan, nan, 184.0]","[nan, nan, nan, nan, nan, nan, nan, 60.0, nan,...","[nan, nan, nan, nan, nan]",[],[nan]

Чаще всего с показателем pain = 4, мода Outcome = 2, а surgery? = 1
<br> Заполним этими значениями

In [465]:
df_filtered_columns_filled['surgery?'].fillna(
    df_filtered_columns_filled['surgery?']
    [(df_filtered_columns_filled['pain'] == 4)].mode()[0],
    inplace = True
)

df_filtered_columns_filled['outcome'].fillna(
    df_filtered_columns_filled['outcome']
    [(df_filtered_columns_filled['pain'] == 4)].mode()[0],
    inplace = True
)

In [466]:
df_filtered_columns_filled.isna().sum()

surgery?                       0
Age                            0
rectal_temperature            60
pulse                         24
respiratory_rate              58
temperature_of_extremities    56
pain                          55
outcome                        0
dtype: int64

* **'rectal_temperature' и 'temperature of extremities'** 
<br><br> Предположим, что rectal_temperature может быть взаимоувязан с 'temperature of extremities'
<br> При этом есть варианты, когда отсутствуют оба параметра или нет попеременно (то одного, то другого). Для этого заполнения попробуем заполнить по очереди.

'rectal_temperature' - непрерывный, заполним mean
'temperature of extremities' - категорийный - заполним модой

In [467]:
df_filtered_columns_filled['temperature_of_extremities'].fillna(
    df_filtered_columns_filled['temperature_of_extremities'].mode()[0],
    inplace = True
)

df_filtered_columns_filled['rectal_temperature'].fillna(
    df_filtered_columns_filled.groupby(['temperature_of_extremities'])['rectal_temperature']
    .transform('mean'),
    inplace = True
)

In [468]:
df_filtered_columns_filled.isna().sum()

surgery?                       0
Age                            0
rectal_temperature             0
pulse                         24
respiratory_rate              58
temperature_of_extremities     0
pain                          55
outcome                        0
dtype: int64

In [469]:
df_stat_base

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
min,1,1,35.4,30,8,1,1,1
max,2,9,40.8,184,96,4,5,3
range,1,8,5.4,154,88,3,4,2
mean,1.397993,1.64,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
mode,1,1,38.0,48,20,3,3,1
median,1.0,1.0,38.2,64.0,24.5,3.0,3.0,1.0
disp,0.240399,4.726154,0.536247,819.708775,311.248328,1.092137,1.710706,0.543445
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
Q1,1,1.0,37.8,48,18.5,1,2,1
Q3,2,1.0,38.5,88,36,3,4,2
iqr Q3-Q1,1,0.0,0.7,40,17.5,2,2,1
lower_bound,-0.5,1.0,36.75,-12.0,-7.75,-2.0,-1.0,-0.5
upper_bound,3.5,1.0,39.55,148.0,62.25,6.0,7.0,3.5
outliers,[],"[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, ...","[nan, nan, nan, nan, 39.9, nan, nan, nan, nan,...","[150, 150, 160, 164, 184]","[66, 68, 68, 68, 70, 70, 72, 80, 80, 80, 84, 8...",[],[],[]

In [470]:
base_statistic_count(df_filtered_columns_filled)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
min,1.0,1,35.4,30.0,8.0,1.0,1.0,1.0
max,2.0,2,40.8,184.0,96.0,4.0,5.0,3.0
range,1.0,1,5.4,154.0,88.0,3.0,4.0,2.0
mean,1.396667,1.08,38.169933,71.913043,30.417355,2.47,2.95102,1.553333
mode,1.0,1,38.137705,48.0,20.0,3.0,3.0,1.0
median,1.0,1.0,38.137705,64.0,24.5,3.0,3.0,1.0
disp,0.240123,0.073846,0.430747,819.708775,311.248328,0.952274,1.710706,0.542297
std,0.490023,0.271746,0.656313,28.630557,17.642231,0.975845,1.30794,0.736408
Q1,1.0,1.0,37.9,48.0,18.5,1.0,2.0,1.0
Q3,2.0,1.0,38.5,88.0,36.0,3.0,4.0,2.0
iqr Q3-Q1,1.0,0.0,0.6,40.0,17.5,2.0,2.0,1.0
lower_bound,-0.5,1.0,37.0,-12.0,-7.75,-2.0,-1.0,-0.5
upper_bound,3.5,1.0,39.4,148.0,62.25,6.0,7.0,3.5
outliers,[],"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[35.4, 36.0, 36.1, 36.4, 36.5, 36.5, 36.6, 36....","[164.0, nan, nan, 150.0, nan, 160.0, nan, nan,...","[84.0, nan, nan, nan, nan, nan, nan, nan, nan,...",[],"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",[]

* **'pulse'** 
<br> Непрерывный
<br> Имеет очень большой размах. Укрепим центральную тендецию, заполним mean

In [471]:
df_filtered_columns_filled['pulse'].fillna(
    df_filtered_columns_filled['pulse'].mean(),
    inplace = True
)

In [472]:
df_filtered_columns_filled.isna().sum()

surgery?                       0
Age                            0
rectal_temperature             0
pulse                          0
respiratory_rate              58
temperature_of_extremities     0
pain                          55
outcome                        0
dtype: int64

In [473]:
base_statistic_count(df_filtered_columns_filled)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
min,1.0,1,35.4,30.0,8.0,1.0,1.0,1.0
max,2.0,2,40.8,184.0,96.0,4.0,5.0,3.0
range,1.0,1,5.4,154.0,88.0,3.0,4.0,2.0
mean,1.396667,1.08,38.169933,71.913043,30.417355,2.47,2.95102,1.553333
mode,1.0,1,38.137705,48.0,20.0,3.0,3.0,1.0
median,1.0,1.0,38.137705,68.0,24.5,3.0,3.0,1.0
disp,0.240123,0.073846,0.430747,753.912753,311.248328,0.952274,1.710706,0.542297
std,0.490023,0.271746,0.656313,27.457472,17.642231,0.975845,1.30794,0.736408
Q1,1.0,1.0,37.9,48.0,18.5,1.0,2.0,1.0
Q3,2.0,1.0,38.5,88.0,36.0,3.0,4.0,2.0
iqr Q3-Q1,1.0,0.0,0.6,40.0,17.5,2.0,2.0,1.0
lower_bound,-0.5,1.0,37.0,-12.0,-7.75,-2.0,-1.0,-0.5
upper_bound,3.5,1.0,39.4,148.0,62.25,6.0,7.0,3.5
outliers,[],"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[35.4, 36.0, 36.1, 36.4, 36.5, 36.5, 36.6, 36....","[150.0, 150.0, 160.0, 164.0, 184.0]","[84.0, nan, nan, nan, nan, nan, nan, nan, nan,...",[],"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",[]

* **'pain'** 
<br> категориальный
<br> Среднее, мода, медиана - практически совпадают для известных значений
<br> заполним модой

In [474]:
df_filtered_columns_filled['pain'].fillna(
    df_filtered_columns_filled['pain'].mode()[0],
    inplace = True
)

In [475]:
base_statistic_count(df_filtered_columns_filled)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
min,1.0,1,35.4,30.0,8.0,1.0,1.0,1.0
max,2.0,2,40.8,184.0,96.0,4.0,5.0,3.0
range,1.0,1,5.4,154.0,88.0,3.0,4.0,2.0
mean,1.396667,1.08,38.169933,71.913043,30.417355,2.47,2.96,1.553333
mode,1.0,1,38.137705,48.0,20.0,3.0,3.0,1.0
median,1.0,1.0,38.137705,68.0,24.5,3.0,3.0,1.0
disp,0.240123,0.073846,0.430747,753.912753,311.248328,0.952274,1.396388,0.542297
std,0.490023,0.271746,0.656313,27.457472,17.642231,0.975845,1.181689,0.736408
Q1,1.0,1.0,37.9,48.0,18.5,1.0,2.0,1.0
Q3,2.0,1.0,38.5,88.0,36.0,3.0,4.0,2.0
iqr Q3-Q1,1.0,0.0,0.6,40.0,17.5,2.0,2.0,1.0
lower_bound,-0.5,1.0,37.0,-12.0,-7.75,-2.0,-1.0,-0.5
upper_bound,3.5,1.0,39.4,148.0,62.25,6.0,7.0,3.5
outliers,[],"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[35.4, 36.0, 36.1, 36.4, 36.5, 36.5, 36.6, 36....","[150.0, 150.0, 160.0, 164.0, 184.0]","[84.0, nan, nan, nan, nan, nan, nan, nan, nan,...",[],[],[]

* **'respiratory_rate'** 
<br> непрерывный
<br> usefulness is doubtful due to the great fluctuations
<br> При заполнении mean сильно порушились статистики "мода (20 до 30, медиана 25 до 31")
<br> заполним медианой, искажения чуть меньше.

In [476]:
df_filtered_columns_filled['respiratory_rate'].fillna(
    df_filtered_columns_filled['respiratory_rate'].median(),
    inplace = True
)

In [477]:
base_statistic_count(df_filtered_columns_filled)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
min,1.0,1,35.4,30.0,8.0,1.0,1.0,1.0
max,2.0,2,40.8,184.0,96.0,4.0,5.0,3.0
range,1.0,1,5.4,154.0,88.0,3.0,4.0,2.0
mean,1.396667,1.08,38.169933,71.913043,29.273333,2.47,2.96,1.553333
mode,1.0,1,38.137705,48.0,24.5,3.0,3.0,1.0
median,1.0,1.0,38.137705,68.0,24.5,3.0,3.0,1.0
disp,0.240123,0.073846,0.430747,753.912753,256.35146,0.952274,1.396388,0.542297
std,0.490023,0.271746,0.656313,27.457472,16.010979,0.975845,1.181689,0.736408
Q1,1.0,1.0,37.9,48.0,20.0,1.0,2.0,1.0
Q3,2.0,1.0,38.5,88.0,34.25,3.0,4.0,2.0
iqr Q3-Q1,1.0,0.0,0.6,40.0,14.25,2.0,2.0,1.0
lower_bound,-0.5,1.0,37.0,-12.0,-1.375,-2.0,-1.0,-0.5
upper_bound,3.5,1.0,39.4,148.0,55.625,6.0,7.0,3.5
outliers,[],"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[35.4, 36.0, 36.1, 36.4, 36.5, 36.5, 36.6, 36....","[150.0, 150.0, 160.0, 164.0, 184.0]","[58.0, 60.0, 60.0, 60.0, 60.0, 66.0, 68.0, 68....",[],[],[]

### ИТОГИ Задание №3

* Все ли заполнено?

In [478]:
print('Количество пропусков:')
df_stat_base = pd.DataFrame(df_filtered_columns.isna().sum().reset_index())
df_stat_filled = pd.DataFrame(df_filtered_columns_filled.isna().sum().reset_index())
d_stat_vs = df_stat_base.merge(
    df_stat_filled,
    how='inner', 
    left_on='index', 
    right_on='index',
    suffixes=('_df_stat_base', '_df_stat_filled')
)
d_stat_vs

Количество пропусков:

                        index  0_df_stat_base  0_df_stat_filled
0                    surgery?               1                 0
1                         Age               0                 0
2          rectal_temperature              60                 0
3                       pulse              24                 0
4            respiratory_rate              58                 0
5  temperature_of_extremities              56                 0
6                        pain              55                 0
7                     outcome               1                 0

* Метрики статистики Базовые (количество заполненных)

In [479]:
base_statistic_count(df_filtered_columns)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
min,1.0,1,35.4,30.0,8.0,1.0,1.0,1.0
max,2.0,9,40.8,184.0,96.0,4.0,5.0,3.0
range,1.0,8,5.4,154.0,88.0,3.0,4.0,2.0
mean,1.397993,1.64,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
mode,1.0,1,38.0,48.0,20.0,3.0,3.0,1.0
median,1.0,1.0,38.2,64.0,24.5,3.0,3.0,1.0
disp,0.240399,4.726154,0.536247,819.708775,311.248328,1.092137,1.710706,0.543445
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
Q1,1.0,1.0,37.8,48.0,18.5,1.0,2.0,1.0
Q3,2.0,1.0,38.5,88.0,36.0,3.0,4.0,2.0
iqr Q3-Q1,1.0,0.0,0.7,40.0,17.5,2.0,2.0,1.0
lower_bound,-0.5,1.0,36.75,-12.0,-7.75,-2.0,-1.0,-0.5
upper_bound,3.5,1.0,39.55,148.0,62.25,6.0,7.0,3.5
outliers,[nan],"[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, ...","[nan, nan, nan, nan, 39.9, nan, nan, nan, nan,...","[164.0, nan, nan, 150.0, nan, 160.0, nan, nan,...","[84.0, nan, nan, nan, nan, nan, nan, nan, nan,...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",[nan]

* Метрики статистики после FILLNA

In [480]:
base_statistic_count(df_filtered_columns_filled)

,surgery?,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
min,1.0,1,35.4,30.0,8.0,1.0,1.0,1.0
max,2.0,2,40.8,184.0,96.0,4.0,5.0,3.0
range,1.0,1,5.4,154.0,88.0,3.0,4.0,2.0
mean,1.396667,1.08,38.169933,71.913043,29.273333,2.47,2.96,1.553333
mode,1.0,1,38.137705,48.0,24.5,3.0,3.0,1.0
median,1.0,1.0,38.137705,68.0,24.5,3.0,3.0,1.0
disp,0.240123,0.073846,0.430747,753.912753,256.35146,0.952274,1.396388,0.542297
std,0.490023,0.271746,0.656313,27.457472,16.010979,0.975845,1.181689,0.736408
Q1,1.0,1.0,37.9,48.0,20.0,1.0,2.0,1.0
Q3,2.0,1.0,38.5,88.0,34.25,3.0,4.0,2.0
iqr Q3-Q1,1.0,0.0,0.6,40.0,14.25,2.0,2.0,1.0
lower_bound,-0.5,1.0,37.0,-12.0,-1.375,-2.0,-1.0,-0.5
upper_bound,3.5,1.0,39.4,148.0,55.625,6.0,7.0,3.5
outliers,[],"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[35.4, 36.0, 36.1, 36.4, 36.5, 36.5, 36.6, 36....","[150.0, 150.0, 160.0, 164.0, 184.0]","[58.0, 60.0, 60.0, 60.0, 60.0, 66.0, 68.0, 68....",[],[],[]